<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>지사 접속 허용 IP 설정</title>
	<link rel="stylesheet" href="/spa/css/ons.css">
	<script src="/spa/lib/jquery.last.min.js"></script>
	<script src="/spa/lib/placeholders.min.js"></script>
	<script src="/spa/lib/knockout.min.js"></script>
	<script src="/spa/js/viewmodel.js"></script>
	<!--[if lte IE 7 ]>
	<script src="/spa/lib/border-box.js"></script>
	<![endif]-->
	<script>
		$(function(){
			var vm = new ViewModel("#panel_memCacheClear");

			vm.onsubmit(function(res){
				if (res.data){
					alert("차단 캐시가 삭제 되었습니다.");
				}
			});
		})
	</script>
</head>
<body class="page">
	<div class="container">
	<h2 class="page-title"><strong>&gt; 지사 관리</strong><span class="text-center">접속 허용 IP 설정</span></h2>

	<div class="row">
		<div class="col-15">
			<div id="panel_memCacheClear" class="panel">
				<h3 class="panel-title">로그인 차단 캐시 삭제</h3>
				<div class="panel-body">
					<form action="/ctrl/corpmng/mem.cache.clear.jsp" data-bind="submit: onSubmit">
						<button type="submit" class="btn btn-w40">수행</button>
					</form>
				</div>
			</div>
			<p>
				※ 신규 사용자 등록 후 IP를 등록 했음에도 로그인이 불가 할 경우 수행 하여 주십시오.
			</p>
		</div>
	</div><!-- .container -->
</body>
</html>